.main {
  @apply w-full
  flex justify-start items-center flex-col
  gap-y-6
  lg:gap-y-16
}

.title {
  @apply text-6xl font-beaufort font-bold text-center
    flex justify-center flex-col gap-8
}

.subtitle1 {
  @apply whitespace-normal;
}

.subtitle2 {
  @apply text-pink-500 tracking-widest
}

.second {
  @apply w-full flex justify-between items-center flex-col-reverse
  lg:justify-between lg:flex-row relative
  /* border border-red-600; */
}

.second_left {
  @apply flex justify-center items-center flex-col gap-10;
}

.web_dev {
  @apply w-fit flex justify-center items-center flex-col
}

.web {
  background: linear-gradient(180deg, #4C16BF 0%, #C213EE 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #fff;
  @apply font-beaufort font-bold text-[160px] lg:text-[200px] tracking-wide leading-none
}

.developer {
  /* -webkit-text-stroke: 1px #fff; */
  text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;

  @apply text-plum-bluish font-beaufort font-bold text-6xl lg:text-7xl tracking-widest text-center mt-3
}

.socials {
  @apply flex justify-center items-center flex-row gap-8;
}

.profile_container {
  @apply relative flex justify-center
   /* border; */
}

.morphing_shape {
  animation: morph 5s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;

  @apply bg-profile bg-cover
  h-360 w-360
  border-4 border-plum-neon
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}