.heroContainer {
  @apply col-span-2 lg:col-span-1 
  order-1 lg:order-2 
  overflow-x-visible
  min-h-[500px]
  max-h-[500px] h-[500px] 
  lg:min-h-[900px]
  lg:h-full lg:max-h-full

  /* border border-red-500 */
}

.heroContent {
  @apply w-full h-[500] lg:h-full
  flex flex-row

  justify-start xs:justify-center lg:justify-start 
  items-start lg:items-end 
  
  overflow-x-visible
  /* border border-red-500  */
}


.heroBox {
  @apply w-fit h-[500] lg:h-screen 
  flex justify-center 
  lg:justify-start

  items-end flex-row 
  /* border border-green-600  */
  -ml-[150px]
}

.heroImageContainer {
  @apply 
  ease-linear duration-200
  relative z-20
  
}

.heroImage {
  @apply ease-linear duration-200 
  h-[400px] 
  lg:h-fit
  /* lg:h-[calc(100vh_+_100px)] */
  /* xl:h-screen */
  min-w-fit w-auto
  mt-[100px] 
  lg:mb-0
  -ml-[76px] lg:-ml-[292px]

  /* border border-red-600 */
}



.parallelogramDiv1 {
  @apply bg-lightWhite z-10
  -mt-[500px]
  h-[700px] lg:min-h-[900px] lg:h-[calc(100vh_+_900px)] 
  w-[130px] lg:w-[300px]
  origin-bottom-left rotate-[20deg]
}

.parallelogramDiv2 {
  @apply bg-lightBlue z-10
  -mt-[500px]
  h-[700px] lg:min-h-[900px] lg:h-[calc(100vh_+_900px)] 
  w-[130px] lg:w-[300px]
  origin-bottom-left rotate-[20deg]
}

.parallelogramDiv3 {
  @apply bg-darkBlue z-30
  -mt-[500px]
  h-[700px] lg:min-h-[900px] 
  lg:h-[calc(100vh_+_900px)] 
  w-[130px] lg:w-[300px]
  origin-bottom-left rotate-[20deg]
  -ml-[170px]
}


.homeOverlayBg {
  @apply h-full w-full absolute bottom-0 left-0 z-30 
  lg:bg-hero bg-bottom
}