@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .filter-solid {
    filter: grayscale(100%);
  }
} */


:root {
  --newPurple-neon: #C213EE;
  --newPurple-bluish: #723BE5;
  --newPurple-blue: #4C16BF;
  --mirage-light: #1C1C27;
  --mirage-dark: #191924;
}

body {
  @apply bg-body bg-no-repeat bg-cover text-white overflow-x-hidden w-screen min-h-screen relative flex flex-col;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-mirage-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-t from-newPurple-neon to-newPurple-blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gradient-to-t from-newPurple-neon to-newPurple-blue opacity-80;
}