/* .footer {
  @apply bg-[#E8EAEE]
  border-t-4 border-blues-light flex items-center w-screen min-h-fit py-6;
}

.container {
  @apply w-screen max-w-screen-2xl mx-auto px-6 lg:px-14
    flex items-center justify-between flex-col gap-6
    md:flex-row duration-200 md:gap-10;
}

.left {
  @apply flex flex-col justify-center
    md:flex-row md:justify-start items-center gap-3 duration-200;
}

.brand {
  @apply max-w-fit
    cursor-pointer
    flex md:items-center justify-center flex-row gap-x-4 gap-y-3
    md:flex-col items-end duration-200
    border border-red-500
}

.logo_ezyDark {
  @apply duration-200
     border border-red-500
}

.details {
  @apply duration-300 w-full md:ml-4 lg:ml-16 text-xl
  md:text-lg lg:text-xl whitespace-nowrap
  text-mirage-dark
}

.title {
 @apply font-medium font-inter
}

.content {
  @apply ml-3 font-inter font-extrabold tracking-widest;
}

.right {
  @apply flex justify-center items-center flex-col gap-3;
}

.socials {
  @apply flex justify-center items-center flex-row gap-8 select-none;
}

.links {
  @apply border-4 border-mirage-dark
}

.copyrights {
  @apply font-markpro font-semibold tracking-wide text-center text-mirage-dark
} */


.container {
  @apply w-full bg-slate-700 text-center py-3
}

.textContainer {
  @apply w-full flex justify-center items-center flex-row
}

.text {
  @apply font-bold  text-lg text-[#FEBE67]
}




