@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .filter-solid {
    filter: grayscale(100%);
  }
} */


:root {
  --plum-neon: #C213EE;
  --plum-bluish: #723BE5;
  --plum-blue: #4C16BF;
  --mirage-light: #1C1C27;
  --mirage-dark: #191924;
}

body {
  @apply bg-body bg-no-repeat bg-cover text-white overflow-x-hidden w-screen min-h-screen relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-mirage-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-t from-plum-neon to-plum-blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gradient-to-t from-plum-neon to-plum-blue opacity-80;
}