.main {
  @apply
  py-16
  w-screen bg-accent
  lg:min-h-[calc(100vh_-_96px)]

  /* border border-red-500 */
}

.mainContent {
  @apply ease-linear duration-200
  max-w-screen-2xl mx-auto
  w-full
  px-6 lg:px-14
  flex justify-start items-center flex-col
  gap-y-6
  lg:gap-y-16
  mb-12 lg:mb-0
  /* border border-red-500 */
}


.title {
  @apply font-markpro font-bold text-center
    flex justify-center flex-col
    text-5xl lg:text-6xl
    gap-8
}

.subtitle2 {
  @apply text-blues-dark  uppercase
}

.second {
  @apply w-full grid grid-cols-1 gap-6
  lg:grid-cols-2
}