.main {
  @apply grow w-screen max-w-screen-2xl mx-auto py-10 relative overflow-x-hidden flex flex-col justify-start gap-16;
}

.title {
  @apply text-5xl font-roboto_slab font-bold text-center
    flex justify-center flex-col gap-8;
}

.subtitle2 {
  @apply text-pink-500 tracking-widest
}


.second {
  @apply w-screen mx-auto flex items-center flex-col px-4 md:px-6 gap-x-24 gap-y-12
  lg:justify-between lg:flex-row relative;
}

.third {
  @apply w-screen mx-auto px-4 md:px-8;
}

.stack_img {
  max-height: 60px !important;
  min-height: 60px !important;
  width: auto !important;
  border: 1px solid red;
  object-fit: contain !important;
  /* @apply  */
}